*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: whitesmoke;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:rgb(212, 148, 223);
    width:600px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    margin-bottom:20px;
}

.input-box{
    display:flex;
    flex-direction:column;
    gap:10px;
}

input{
    padding:10px;
    font-size:16px;
}

button{
    padding:10px;
    background:rgb(118, 5, 109);
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:darkgreen;
}

ul{
    margin-top:20px;
    list-style:none;
}

li{
    display:flex;
    justify-content:space-between;
    padding:10px;
    margin-bottom:10px;
    background:#eee;
    border-radius:5px;
}

.delete{
    background:red;
    color:white;
    border:none;
    padding:5px 10px;
    cursor:pointer;
}
